* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {width: 100%; height: 100%; overflow: hidden}

body {
  opacity: 0;
  -webkit-transition: all 0.9s;
  transition: all 0.9s;
}

svg {
  filter: invert(100%) sepia(0%) saturate(7484%) hue-rotate(141deg) brightness(106%) contrast(104%);
}

.background {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bga {
  filter: blur(5px) brightness(60%);
}

.background img {
  width: 100%;
  height: 100%;
}

.background span {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #ffffff11;
  font-size: 1.5em;
  text-transform: uppercase;
}

.container {
  display: flex;
  top: 0;
  width: 100%;
  height: 100%;
}
.center {
  display: flex;
  margin: auto;
  padding: 1px;
  float: left;
}

.user {
  display: block;
  position: relative;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.user:hover {
  border-radius: 10px;
  transform: scale(1.2);
  background: rgba(0, 0, 0, 0.3);
}

.user:hover .user_name {
  color: #fff;
  letter-spacing: 0.2em;
  margin: 0 10px;
}

.user_image_wrapper {
  padding: 15px;
}

.user_image_wrapper img {
  width: 85px;
  height: 85px;
}

.user_name {
  position: relative;
  background: transparent;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 20px;
  margin-bottom: 15px;
}

.password_prompt {
  display: block;
  position: relative;
  width: 280px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.password_prompt span:hover {
  color: transparent;
  text-shadow: none;
  transform: scale(1.2);
}

.password_prompt span::before {
  content: "Cancel";
  position: absolute;
  color: transparent;
}

.password_prompt span:hover::before {
  color: #ffffff;
  background: red;
  padding: 2px 5px;
  border-radius: 5px;
}

.inputBox {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.inputBox input,
.inputBox select {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  border-radius: 5px;
  font-size: 1em;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.inputBox select {
  color: transparent;
}

.inputBox input:valid,
.inputBox input:focus,
.inputBox select:focus {
  border: 1px solid #979797;
  color: #979797;
  outline: none;
}

.inputBox label {
  position: absolute;
  left: 0;
  padding: 10px;
  pointer-events: none;
  font-size: 1em;
  color: rgba(255, 255, 255, 0.35);
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-shadow: none;
}

.inputBox input:valid ~ label,
.inputBox input:focus ~ label,
.inputBox select:focus ~ label{
  color: #414141;
  transform: translateX(10px) translateY(-7px);
  font-size: 0.75em;
  padding: 0 10px;
  background: #979797;
  letter-spacing: 0.2em;
  border-radius: 2px;
}

.buttonMenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  left: 0;
  top: 0;
  height: 100%;
}

.buttonMenu a {
  position: relative;
  background: transparent;
  color: #ffffff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.7em;
  margin: 15px 0;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.buttonMenu a:hover {
  width: 110px;
  background: #777777;
  transition-delay: 0.3s;
}

.buttonMenu a::after {
  content: '';
  position: absolute;
  left: -65px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg) translate(-50px, 50px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttonMenu a:hover::after {
  transform: rotate(45deg) translate(50px, -50px);
  transition-delay: 0.3s;
}

.buttonMenu a svg {
  position: absolute;
  left: 0;
  width: 23px;
  height: 23px;
  padding-left: 7px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.buttonMenu a:hover svg {
  transform: translateX(110px);
}

.buttonMenu a span {
  visibility: hidden;
  opacity: 0;
  white-space: nowrap;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  transform: translateX(-30px);
}

.buttonMenu a:hover span {
  visibility: visible;
  opacity: 1;
  transition-delay: 0.3s;
  transform: translateX(10px);
}

.message {
  display: flex;
  position: relative;
  width: 250px;
  margin: 0 auto;
  bottom: 45px;
  background: #777777;
  height: 35px;
  border: none;
  border-radius: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.message::after {
  content: '';
  position: absolute;
  margin: 10px;
  left: 0px;
  width: 8px;
  height: 8px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
}

.message div {
  width: 100%;
  padding: 7px;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  text-shadow: none;

}

.error {
  background: red;
}

.mhidden {
  bottom: -5px;
  opacity: 0;
}